body{text-align: justify; font-size: 20px; background: #E6E7E8;}


/*.back-section{background: url(../img/Fondo.png) top center no-repeat transparent; background-size: cover; }
*/


.box-float{
  color: #FFF;
  position: absolute;
  left: 50px;
  bottom: -70px;
  height: 150px;
  width: 500px;
  z-index: 100;
  }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/***** FONDO *****/
.back-section{background: url(../img/Fondo.png) no-repeat center center fixed; background-size: cover; }

/***** TEXTO *****/
.txt-white{color: #FFF;}

/***** ALINEACION ******/

.al-r{
  margin-right: 5px;
}
/***** FORMULARIO *****/
form{width: 100%; max-width:535px; background: none; margin: 0 auto; padding: 20px;}
form label{display: block;width: 100%; max-width: 340px;text-align: left;margin:0 auto; font-size: 14px;font-family: 'Open Sans', sans-serif; font-weight: 300; color:#73233b;}
form input{ -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;display: block; padding-left:10px;outline:none; border:none;color:#73233b; width: 100%; max-width: 400px; height: 40px; margin:0 auto; margin-bottom: 10px; background: #E6E7E8; border-bottom: 1px solid #58595b;}
form textarea{padding-top:10px;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out; resize:none; display: block;  padding-left:10px;outline:none; border:none;color:#73233b; width: 100%; max-width: 400px; height: 94px; margin:0 auto; margin-bottom: 10px; background: #E6E7E8; border-bottom: 1px solid #58595b;}
form input[type="submit"]{font-size:18px;font-weight:300;display: block; padding-left:10px;outline:none; color:#fff; width: 100%; max-width: 140px; height: 35px; margin:0 auto; margin-bottom: 10px;background:#581514;border:none;border-radius: 0px;}
form input:hover[type="submit"]{background:#045FB4; }
form input::placeholder { color: #045FB4;}
form textarea::placeholder { color: #045FB4;}

  .sp1x,.sp2x,.sp3x,.sp4x,.sp5x,.sp6x,.sp7x,.sp8x,.sp9x,.sp10x,.sp20x,.sp30x,.sp40x,.sp50x,.sp60x{content:" ";display:inline-block;width:100%;font-size:1em;line-height:0;height:0;border:none;border:0;background-color:none}
  .sp2x{margin-bottom:.7857142857142857em}
  .sp3x{margin-bottom:1.1785714285714286em}
  .sp4x{margin-bottom:1.5714285714285714em}
  .sp5x{margin-bottom:1.9642857142857142em}
  .sp6x{margin-bottom:2.357142857142857em}
  .sp7x{margin-bottom:2.75em}
  .sp8x{margin-bottom:3.142857142857143em}
  .sp9x{margin-bottom:3.5357142857142856em}
  .sp10x{margin-bottom:3.9285714285714284em}
  .sp20x{margin-bottom:7.857142857142857em}
  .sp30x{margin-bottom:11.785714285714285em}
  .sp40x{margin-bottom:15.714285714285714em}
  .sp50x{margin-bottom:19.642857142857142em}
  .sp60x{margin-bottom:23.57142857142857em}

    .fnt14 {font-size: 14px;}
    .fnt15 {font-size: 15px;}
    .fnt16 {font-size: 16px;}
    .fnt17 {font-size: 17px;}
    .fnt18 {font-size: 18px;}
    .fnt19 {font-size: 19px;}
    .fnt20 {font-size: 20px;}
    .fnt21 {font-size: 21px;}
    .fnt22 {font-size: 22px;}
    .fnt23 {font-size: 23px;}
    .fnt24 {font-size: 24px;}
    .fnt24 {font-size: 24px;}
    .fnt25 {font-size: 25px;}
    .fnt26 {font-size: 26px;}
    .fnt27 {font-size: 27px;}
    .fnt28 {font-size: 28px;}
    .fnt29 {font-size: 29px;}
    .fnt30 {font-size: 30px;}
    .fnt31 {font-size: 31px;}
    .fnt32 {font-size: 32px;}
    .fnt33 {font-size: 33px;}
    .fnt34 {font-size: 34px;}
    .fnt35 {font-size: 35px;}
    .fnt36 {font-size: 36px;}
    .fnt37 {font-size: 37px;}
    .fnt38 {font-size: 38px;}
    .fnt39 {font-size: 39px;}
    .fnt40 {font-size: 40px;}
    .fnt50 {font-size: 50px;}
    .fnt60 {font-size: 60px;}
    .fnt70 {font-size: 70px;}
    .fnt80 {font-size: 80px;}
